.container {
    padding: 20px;
}

table {
    width: 100%;
}

.mat-mdc-header-row {
    background-color: #f5f5f5; /* Açık gri */
    border-bottom: 2px solid #ddd;
}

.mat-mdc-cell {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.mat-mdc-cell:last-child {
    padding-right: 10px;
}

.mat-mdc-header-cell {
    font-weight: bold;
    padding: 10px;
    color: #333;
}

.mat-mdc-header-cell:last-child {
    padding-right: 10px;
}

button {
  margin-right: 10px;
}